<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>News Topics</title>
</head>

<body>
<h1>News Topics</h1>

<table th:border="1">
    <thead>
    </thead>
    <tbody>
    <tr th:each="topic : ${topics}">
        <td th:text="${topic.id}" />

        <td> <a th:href="@{/html/news(topic=${topic.title})}"
                th:text="${topic.title}"/>
        </td>
    </tr>
    </tbody>
</table>


<div>
    <span>
        <a th:href="@{/html/news}">All News</a>
        <a th:href="@{/html/sources}">All Sources</a>
        <a th:href="@{/html/topics}">All Topics</a>
    </span>
</div>


</body>
</html>