<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>News Topics</title>
    <div>
    <span>
        <a th:href="@{/html/news}">All News</a>
        <a th:href="@{/html/sources}">All Sources</a>
        <a th:href="@{/html/topics}">All Topics</a>
    </span>
    </div>
</head>

<body>
<h1>News Topics</h1>

<table th:border="1">
    <thead>
    <tr>
        <div th:if="${message != null}">
            <th th:text="${message}" />
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topic : ${topics}">
        <td th:text="${topic.id}" />

        <td> <a th:href="@{/html/news(topic=${topic.topicTitle})}"
                th:text="${topic.topicTitle}"/>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>